.innerWrapper {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}

.titleBar {
    background-color: var(--titleBar);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.invert {
 filter: invert(1);
}

.themeToggle {
    background-color: var(--themeToggle);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.extensionsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.extensionsTitle h1 {
    color: var(--headingClr);
}

.extensionsFilter button {
    border: 1px solid var(--neutral-300);
    background-color: var(--filterBtn);
    padding: 0.5rem 1rem;
    margin: 0 5px;
    border-radius: 50px;
    color: var(--filterBtnClr);
    font-family: inherit;
    font-size: 16px;
}

.extensionsFilter button:hover {
    background-color: var(--filterBtnHover);
    cursor: pointer;
}

.extensionsFilter button.selected {
    background-color: var(--red-400);
    color: var(--filterBtnSelectedClr);
    border-color: var(--red-400);
}

.extensionsItems {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media (max-width: 956px) {
    .extensionsItems {
        grid-template-columns: repeat(2, 1fr);
    }  
}

@media (max-width: 637px) {
    .extensionsItems {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }  

    .extensionsItem {
        margin: 0 auto;
    }

    .extensionsWrapper {
        flex-direction: column;
    }

    .extensionsFilter {
        margin-top: 1rem;
    }
}